//@import url('https://chinese-fonts-cdn.deno.dev/packages/sypxzs/dist/思源屏显臻宋/result.css');
@import url('./result.css');
html,body {
   font-family: "Source Han Serif CN for Display";
   font-weight: normal;
   font-size: 1rem;
}